<nav>
  <div class="nav-bar-background">
  </div>
  <div class="nav-bar-content">
    <img id="logo" src="/assets/images/logo.png">
    <h1>UoB Badminton</h1>
    <a><img class="social" src="/assets/images/icons/white/facebook.png"></a>
    <a><img class="social" src="/assets/images/icons/white/twitter.png"></a>
    <a><img class="social" src="/assets/images/icons/white/instagram.png"></a>

    <ul id="nav-items">
      <!-- Comments required to prevent spaces between inline-block elements -->
      <a><li>ABOUT</li></a><!--
      --><a><li>TEAM</li></a><!--
      --><a><li>MEMBERSHIP</li></a><!--
      --><a><li>EVENTS</li></a><!--
      --><a><li>GALLERY</li></a><!--
      --><a><li>CONTACT</li></a>
    </ul>
  </div>
</nav>
