<nav>
  <div class="nav-bar-background">
  </div>
  <div class="nav-bar-content">
    <a href="/">
      <img id="logo" src="assets/images/trimmed_logo_400.png">
      <h1>Bristol Badminton</h1>
    </a>
    <a href="//www.facebook.com/uobbadders/" target="_blank"><img class="social" src="assets/images/icons/white/facebook.png"></a>
    <a href="//twitter.com/uobbadders" target="_blank"><img class="social" src="assets/images/icons/white/twitter.png"></a>
    <a href="//www.instagram.com/uobbadmintonclub/" target="_blank"><img class="social" src="assets/images/icons/white/instagram.png"></a>
    <a href="//www.linkedin.com/groups/8772039/" target="_blank"><img class="social" src="assets/images/icons/white/linkedin.png"></a>

    <ul id="nav-items">
      <!-- Comments required to prevent spaces between inline-block elements -->
         <a href="#about" offset="{{ navBarHeight }}" du-smooth-scroll><li ng-class="{ 'selected': isSelected('about') }">ABOUT</li></a><!--
      --><a href="#team" offset="{{ navBarHeight }}" du-smooth-scroll><li>TEAM</li></a><!--
      --><a href="#trainingtimes" offset="{{ navBarHeight }}" du-smooth-scroll><li>TRAINING</li></a><!--
      --><a href="#membership" offset="{{ navBarHeight }}" du-smooth-scroll><li>MEMBERSHIP</li></a><!--
      --><a href="#alumni" offset="{{ navBarHeight }}" du-smooth-scroll><li>ALUMNI</li></a><!--
      --><a href="#gallery" offset="{{ navBarHeight }}" du-smooth-scroll><li>GALLERY</li></a><!--
      --><a href="#contact" offset="{{ navBarHeight }}" du-smooth-scroll><li>CONTACT</li></a>
    </ul>
  </div>
</nav>
