<nav>
  <div class="nav-bar-background">
  </div>
  <div class="nav-bar-content">
    <a href="/">
      <img id="logo" src="assets/images/logo.png">
      <h1>UoB Badminton</h1>
    </a>
    <a href="https://www.facebook.com/uobbadders/" target="_blank"><img class="social" src="assets/images/icons/white/facebook.png"></a>
    <a href="https://twitter.com/UOBBadders" target="_blank"><img class="social" src="assets/images/icons/white/twitter.png"></a>
    <a href="https://www.instagram.com/uobbadmintonclub/" target="_blank"><img class="social" src="assets/images/icons/white/instagram.png"></a>

    <ul id="nav-items">
      <!-- Comments required to prevent spaces between inline-block elements -->
         <a href="#about" offset="{{ navBarHeight }}" du-smooth-scroll><li ng-class="{ 'selected': isSelected('about') }">ABOUT</li></a><!--
      --><a href="#team" offset="{{ navBarHeight }}" du-smooth-scroll><li>TEAM</li></a><!--
      --><a href="#membership" offset="{{ navBarHeight }}" du-smooth-scroll><li>MEMBERSHIP</li></a><!--
      --><a href="#events" offset="{{ navBarHeight }}" du-smooth-scroll><li>EVENTS</li></a><!--
      --><a href="#gallery" offset="{{ navBarHeight }}" du-smooth-scroll><li>GALLERY</li></a><!--
      --><a href="#contact" offset="{{ navBarHeight }}" du-smooth-scroll><li>CONTACT</li></a>
    </ul>
  </div>
</nav>
