/* This file contains CSS rules not specified by less, and is loaded separately */

li.profile-container {
    /* Restrict the width of some profiles */
    max-width: 200px;
}

div.profile {
    display: inline-block;
}

/* Fonts are all over the place - override and ditch Open Sans, which nobody has */
p {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;   
}

p.coach-details {
    color: #1c1c1c;
    line-height: 1.5;
    text-align: center;
}

/* Pad the page contents down to avoid cutting images */
div.nav-padding {
    height: 50px;
}

div#footer ul {
    @media (min-width: 901px) {
        display: inline-block;
        width: calc(~'50% - 60px');
    }
}

#footer-logo {
    width: 120px;
}